* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.body {
    display: flex;
    flex-direction: column;
    /* Use vh unit to fill full viewport height */
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
    width: 100%;
    min-height: 100vh;
    color: #333;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: black;
    padding: 10px;
    justify-content: space-between;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

header .logo {
    cursor: pointer;
    width: 100px;
    height: auto;
}



header .title {
    color: wheat;
    font-size: 50px;
}

.header-actions {
    display: flex;
    align-items: center;
    gap: 20px;
    /* Ajusta el espacio entre los elementos según sea necesario */
}

.header-actions .carrito {
    cursor: pointer;
    background-color: bisque;
    padding: 10px;
    border-radius: 50%;
    position: relative;
    margin-left: auto;
    z-index: 10;
}

.carrito .cart {
    color: black;
    height: 30px;
    font-size: 25px;
}


.header-actions .search-form {
    padding: 5px;
    border-radius: 125px;
    margin-left: auto;
    background-color: bisque;
}

.search {
    display: table;
    color: black;
}

.search input {
    background: none;
    border: none;
    outline: none;
    width: 28px;
    min-width: 0;
    padding: 0;
    z-index: 1;
    position: relative;
    line-height: 18px;
    margin: 5px 0;
    font-size: 14px;
    font-family: 'Mukta Malar';
    transition: all .6s ease;
    cursor: pointer;
    color: #000000;
}

.search input+div {
    position: relative;
    height: 28px;
    width: 100%;
    margin: -28px 0 0 0;
}

.search input+div svg {
    display: block;
    position: absolute;
    height: 28px;
    width: 160px;
    right: 0;
    top: 0;
    fill: none;
    stroke: black;
    stroke-width: 1.5px;
    stroke-dashoffset: 212.908 + 59;
    stroke-dasharray: 59 212.908;
    transition: all .6s ease;
}

.search input:not(:placeholder-shown),
.search input:focus {
    width: 160px;
    padding: 0 4px;
    cursor: text;
}

.search input:not(:placeholder-shown)+div svg {
    stroke-dasharray: 150 212.908;
    stroke-dashoffset: 300;
}

.btnLogin button {
    margin-left: 20px;
    width: 150px;
    height: 45px;
    background: linear-gradient(to left top, #ffe4c4 50%, #ffe4c4 50%);
    border-style: none;
    color: black;
    font-size: 15px;
    letter-spacing: 3px;
    font-weight: 600;
    outline: none;
    cursor: pointer;
    position: relative;
    padding: 0px;
    overflow: hidden;
    transition: all .5s;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
}

.btnLogin button span {
    position: absolute;
    display: block;
}

.btnLogin button span:nth-child(1) {
    height: 3px;
    width: 150px;
    top: 0px;
    left: -200px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), #000000);
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span1 2s linear infinite;
    animation-delay: 1s;
}

@keyframes span1 {
    0% {
        left: -150px
    }

    100% {
        left: 150px;
    }
}

.btnLogin button span:nth-child(2) {
    height: 45px;
    width: 3px;
    top: -70px;
    right: 0px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000);
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span2 2s linear infinite;
    animation-delay: 2s;
}

@keyframes span2 {
    0% {
        top: -45px;
    }

    100% {
        top: 45px;
    }
}

.btnLogin button span:nth-child(3) {
    height: 3px;
    width: 150px;
    right: -200px;
    bottom: 0px;
    background: linear-gradient(to left, rgba(0, 0, 0, 0), #000000);
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    animation: span3 2s linear infinite;
    animation-delay: 3s;
}

@keyframes span3 {
    0% {
        right: -150px;
    }

    100% {
        right: 150px;
    }
}

.btnLogin button span:nth-child(4) {
    height: 45px;
    width: 3px;
    bottom: -70px;
    left: 0px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0), #000000);
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    animation: span4 2s linear infinite;
    animation-delay: 4s;
}

@keyframes span4 {
    0% {
        bottom: -45px;
    }

    100% {
        bottom: 45px;
    }
}

.btnLogin button:hover {
    transition: all .5s;
    transform: rotate(-3deg) scale(1.1);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, .4);
}

.btnLogin button:hover span {
    animation-play-state: paused;
}

.usuario-options {
    cursor: pointer;
    background-color: bisque;
    padding: 10px;
    border-radius: 50%;
    position: relative;
}

.usuario-options .iconuser {
    color: black;
    height: 30px;
    font-size: 30px;
}

.sub-menu-wrap {
    position: absolute;
    top: 100%;
    right: 10%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.sub-menu-wrap .open-menu {
    max-height: 400px;
}

.sub-menu {
    background: bisque;
    padding: 20px;
    margin: 10px;
}

.sub-menu .user-info {
    display: flex;
    align-items: center;
}

.sub-menu .user-info h2 {
    margin-left: 10px;
    font-weight: 500;
    margin-bottom: 0px;
}

.sub-menu .user-info i {
    font-size: 25px;
    border-radius: 50%;
    margin-right: 15px;
}

.sub-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: #000;
    margin: 15px 0 10px;
    ;
}

.sub-menu-link {
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    margin: 12px 0;
}

.sub-menu-link p {
    margin-left: 10px;
    flex: 1;
    margin: auto;
    width: 100%;
}

.sub-menu-link i {
    font-size: 25px;
    width: 40px;
}

.sub-menu-link span {
    font-size: 22px;
    transition: transform 0.5s;
}

.sub-menu-link:hover span {
    transform: translateX(5px);
}

.sub-menu-link:hover p {
    font-weight: 600;
}


@media (max-width: 1015px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    header .title {
        font-size: 40px;
        margin-bottom: 10px;
        text-align: center;
    }

    .header-actions {
        display: flex;
        justify-content: center;
        gap: 15px;
        /* Ajustar el espacio entre los elementos según sea necesario */
    }

    .header-actions .carrito,
    .header-actions .btnLogin,
    .header-actions .usuario-options {
        margin: 0px;
    }

    .header-actions .search-form {
        padding: 5px;
        max-width: 300px;
        /* Ajustar el ancho máximo del formulario de búsqueda */
        flex: 1 1 200px;
        /* Permitir que el formulario de búsqueda se ajuste según el espacio disponible */
    }

    .sub-menu-wrap {
        right: 0;
        /* Alinear el submenú con el borde derecho */
    }

    .sub-menu-wrap .open-menu {
        max-height: 400px;
    }

    .usuario-options .iconuser {
        font-size: 26px;
        /* Ajustar el tamaño del icono del usuario */
    }

    .carrito .cart {
        font-size: 22px;
        /* Ajustar el tamaño del icono del carrito */
    }

    .btnLogin button {
        width: auto;
        /* Ajustar el ancho del botón de inicio de sesión */
        padding: 10px 20px;
        /* Añadir padding para mejorar la apariencia */
    }

    
}


@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    header .title {
        font-size: 30px;
        margin-bottom: 10px;
        /* Añadir espacio entre el título y las acciones del header */
        text-align: center;
    }

    .header-actions {
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        /* Ajustar el espacio entre los elementos según sea necesario */
    }

    .header-actions .carrito,
    .header-actions .btnLogin,
    .header-actions .usuario-options {
        margin: 0 5px;
    }

    .sub-menu-wrap {
        right: 0;
        /* Alinear el submenú con el borde derecho */
    }

    .sub-menu-wrap .open-menu {
        max-height: 400px;
    }
}

@media (max-width: 480px) {
    header .logo {
        width: 80px;
    }

    .header .title {
        font-size: 24px;
    }

    .header-actions .search-form {
        padding: 2px;
    }

    .header-actions .carrito .cart {
        font-size: 20px;
    }

    .usuario-options .iconuser {
        font-size: 24px;
    }

    .sub-menu .user-info h2 {
        font-size: 18px;
    }

    .sub-menu-wrap {
        right: -60px;
        /* Alinear el submenú con el borde derecho */
    }

    .sub-menu-link i,
    .sub-menu-link span {
        font-size: 20px;
    }
}