<div class="body">
    <header>
        <img src="assets/layout/logo_size_invert-removebg-preview.png" (click)="irInformacion()" alt="logo"
            class="logo">
        <h1 class="title">Dulceria Y Pasteleria Velazco</h1>
        <div class="carrito" *ngIf="!mostrarCarrito" (click)="toggleCarrito()">
            <i class="fas fa-shopping-cart"></i>
            <span class="numerito">0</span>
        </div>
        <form *ngIf="!mostrarCarrito" action="/search" class="search-form">
            <div class="search">
                <input type="text" placeholder=" ">
                <div>
                    <svg>
                        <use xlink:href="#path"></use>
                    </svg>
                </div>
            </div>

            <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 160 28" id="path">
                    <path
                        d="M32.9418651,-20.6880772 C37.9418651,-20.6880772 40.9418651,-16.6880772 40.9418651,-12.6880772 C40.9418651,-8.68807717 37.9418651,-4.68807717 32.9418651,-4.68807717 C27.9418651,-4.68807717 24.9418651,-8.68807717 24.9418651,-12.6880772 C24.9418651,-16.6880772 27.9418651,-20.6880772 32.9418651,-20.6880772 L32.9418651,-29.870624 C32.9418651,-30.3676803 33.3448089,-30.770624 33.8418651,-30.770624 C34.08056,-30.770624 34.3094785,-30.6758029 34.4782612,-30.5070201 L141.371843,76.386562"
                        transform="translate(83.156854, 22.171573) rotate(-225.000000) translate(-83.156854, -22.171573)">
                    </path>
                </symbol>
            </svg>
        </form>
        <div *ngIf="mostrarBotonInicioSesion" class="btnLogin">
            <button (click)="irLogin()">
                Inicia Sesión
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
        
        <div class="usuario-options" *ngIf="!mostrarBotonInicioSesion">
            <i class="fas fa-user iconuser" (click)="toggleMenu()"></i>
            <div class="sub-menu-wrap" [style.max-height.px]="menuAbierto ? 430 : 0">
                <div class="sub-menu">
                    <div class="user-info">
                        <i class="fas fa-user"></i>
                        <h2>Nombre</h2>
                    </div>
                    <hr>
                    <a class="sub-menu-link" (click)="toggleAdministrar()">
                        <i class="fas fa-cogs"></i>
                        <p>Administrar</p>
                        <span>></span>
                    </a>

                    <a href="#" class="sub-menu-link" (click)="togglePerfil()">
                        <i class="fas fa-user-circle"></i>
                        <p>Perfil</p>
                        <span>></span>
                    </a>

                    <a href="#" class="sub-menu-link">
                        <i class="fas fa-sign-out-alt"></i>
                        <p>Cerrar Sesión</p>
                        <span>></span>
                    </a>
                </div>
            </div>
        </div>
    </header>

    <app-producto  *ngIf="!mostrarCarrito"></app-producto>
    <app-carrito *ngIf="mostrarCarrito"></app-carrito>
</div>