<div class="body">
  <main class="main-container">
    <div class="category-tabs">
      <section>
        <button class="btn-regresar" (click)="irOrden()">
          <i class="fa fa-arrow-left "></i> Volver a orden
        </button>
      </section>
    </div>

    <h2 class="pago-titulo">Proceso de Pago</h2>

    <div class="pago-form">
      <div class="facturacion">
        <h3>DIRECCIÓN DE LA FACTURACIÓN</h3>
        <label for="email">Gmail:</label>
        <input type="email" id="email" [(ngModel)]="billingDetails.email" name="email"
          placeholder="example@example.com">

        <label for="direccion">Dirección:</label>
        <input type="text" id="direccion" [(ngModel)]="billingDetails.address.line1" name="address"
          placeholder="Calle - Localidad">

        <label for="ciudad">Ciudad:</label>
        <input type="text" id="ciudad" [(ngModel)]="billingDetails.address.city" name="city" placeholder="Ica">
      </div>

      <div class="tarjeta">
        <h3>TARJETA</h3>
        <label>Tarjetas Aceptadas :</label>
        <div class="tarjetas-aceptadas">
          <img src="assets/layout/paypal.png" alt="PayPal">
          <img src="assets/layout/mastercard.png" alt="MasterCard">
          <img src="assets/layout/amex.png" alt="American Express">
          <img src="assets/layout/visa.png" alt="Visa">
        </div>

        <label for="titular">Titular De La Tarjeta:</label>
        <input type="text" id="titular" [(ngModel)]="billingDetails.name" name="cardholderName"
          placeholder="Mr. John Doe">

        <label for="numero-tarjeta">Numero De Tarjeta:</label>
        <div id="card-number" class="stripe-input"></div>

        <div class="expiracion-cvv">
          <div class="expiracion-cvv-item">
            <label for="mes-expiracion">Fecha De Exp.:</label>
            <div id="card-expiry" class="stripe-input"></div>
          </div>
          <div class="expiracion-cvv-item">
            <label for="cvv">CVV:</label>
            <div id="card-cvc" class="stripe-input"></div>
          </div>
        </div>
      </div>
    </div>
    <button class="btn-procesar-pago" (click)="procesarPago()">Procesar El Pago</button>
  </main>
</div>