<div class="body">
    <div class="container" #container>
        <div class="signin-signup">

            <!-------------------------------FORMULARIO INICIAR SESIÓN------------------------------------------->
            <form action="" class="sign-in-form" #loginForm="ngForm" (ngSubmit)="checkLoginFields(loginForm)">
                <h2 class="title">Iniciar Sesión</h2>
                <div class="input-field-login" [class.error]="loginError">
                    <i class="fas fa-envelope"></i>
                    <input type="email" [(ngModel)]="creds.email" name="correo" placeholder="Correo" #correoInput="ngModel" required>
                </div>
                <div class="input-field-login" [class.error]="loginError">
                    <i class="fas fa-lock"></i>
                    <input type="password" [(ngModel)]="creds.password" name="contra" placeholder="Contraseña" #contrasenaInput="ngModel" required>
                </div>
                <div class="d-grid">
                    <button class="btn-1" type="submit" [disabled]="!loginForm.valid">Ingresar</button>
                </div>
                <p class="sin-reg"><a (click)="irInicio()">Continuar sin registrase</a></p>
                <p class="account-text">¿No tienes una cuenta? <a href="" id="sign-up-btn2" #signUpBtn2>Registrarte</a></p>
            </form>
            <!-------------------------------FORMULARIO Registro------------------------------------------->

            <form action="" class="sign-up-form" #registerForm="ngForm" (ngSubmit)="registrarUsuario(registerForm)">
                <h2 class="title">Registrarse</h2>
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input required name="nombre" type="text" placeholder="Nombre" required [(ngModel)]="registro.nombre">
                </div>
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input required name="apellido" type="text" placeholder="Primer Apellido" required [(ngModel)]="registro.ap_paterno">
                </div>
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input required type="text" placeholder="Segundo Apellido" name="ap_materno" required [(ngModel)]="registro.ap_materno">
                </div>
                <div class="input-field">
                    <i class="fas fa-file"></i>
                    <input required type="number" placeholder="DNI" name="ap_materno" required [(ngModel)]="registro.documento" (input)="validarDNI()">
                </div>
                <div class="input-field">
                    <i class="fas fa-tty"></i>
                    <input required type="number" placeholder="Telefono" name="telefono" required [(ngModel)]="registro.telefono" (input)="validarTelefono()">
                </div>
                <div class="input-field">
                    <i class="fas fa-envelope"></i>
                    <input required type="email" placeholder="Correo" name="correo" required [(ngModel)]="registro.correo">    
                </div>

                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input required type="password" placeholder="Contraseña" name="password" required [(ngModel)]="registro.password">
                </div>
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input required type="password" placeholder="Confirmar contraseña" required name="confirmarPaswword" required [(ngModel)]="confirmarPaswword">
                </div>
                
                <div class="d-grid">
                    <button type="submit" class="btn-2" [disabled]="!registerForm.valid">Registrar</button>
                </div>

                
                <p class="account-text">¿Ya tienes una cuenta? <a href="" id="sign-in-btn2" #signInBtn2>Iniciar</a></p>
            </form>
        </div>
        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>Explora el mundo del azúcar con Velazco</h3>
                    <p>Únete a Velazco y sé parte de nuestra comunidad golosa.
                        Regístrate ahora para acceder a promociones exclusivas y sorpresas dulces.
                        ¡Es momento de endulzar tu vida con nosotros!</p>
                    <button class="btn" id="sign-in-btn" #signInBtn>Iniciar Sesión</button>
                    <img src="assets/layout/login1.png" alt="" class="image">
                </div>
            </div>
            <div class="panel right-panel">
                <div class="content">
                    <h3>Bienvenido a Velazco</h3>
                    <p>¡Bienvenido a Velazco, tu destino dulce!
                        Por favor, inicia sesión para disfrutar de nuestras delicias.
                        ¡Es hora de satisfacer tu antojo!</p>
                    <button class="btn" id="sign-up-btn" #signUpBtn>Registrarse</button>
                    <img src="assets/layout/login2.png" alt="" class="image">
                </div>
            </div>
        </div>
    </div>
</div>

