<div class="body">
    <div class="container" #container>
        <div class="signin-signup">

            <!-------------------------------FORMULARIO INICIAR SESIÓN------------------------------------------->
            <form action="" class="sign-in-form" #form="ngForm" (ngSubmit)="checkLoginFields(form)">
                <h2 class="title">Iniciar Sesión</h2>
                <div class="input-field">
                    <i class="fas fa-envelope"></i>
                    <input type="email" [(ngModel)]="creds.email" name="correo" placeholder="Correo" #correoInput="ngModel" required>
                    <div *ngIf="correoInput.invalid && (correoInput.dirty || correoInput.touched)" class="text-danger">
                        El correo es necesario.
                    </div>
                </div>
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input type="password" [(ngModel)]="creds.password" name="contra" placeholder="Contraseña" #contrasenaInput="ngModel" required>
                    <div *ngIf="contrasenaInput.invalid && (contrasenaInput.dirty || contrasenaInput.touched)" class="text-danger">
                        La contraseña es necesaria.
                    </div>
                </div>
                <div class="d-grid">
                    <button class="btn-1" type="submit">Ingresar</button>
                </div>
                <p class="sin-reg"><a (click)="irInicio()">Continuar sin registrase</a></p>
                <p class="account-text">¿No tienes una cuenta? <a href="" id="sign-up-btn2" #signUpBtn2>Registrarte</a></p>
            </form>
            <!-------------------------------FORMULARIO Registro------------------------------------------->

            <form action="" class="sign-up-form" #form="ngForm" (ngSubmit)="registrarUsuario(form)">
                <h2 class="title">Registrarse</h2>
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input required name="nombre" type="text" placeholder="Nombre" required [(ngModel)]="registro.nombre">
                    <div *ngIf="form.submitted && registro.nombre=='' " class="text-danger">
                        Nombre paterno es requerido
                    </div>
                </div>
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input required name="apellido" type="text" placeholder="Primer Apellido" required [(ngModel)]="registro.ap_paterno">
                    <div *ngIf="form.submitted && registro.ap_paterno=='' " class="text-danger">
                        Aperllido paterno es requerido
                    </div>
                </div>
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input type="text" placeholder="Segundo Apellido" name="ap_materno" required [(ngModel)]="registro.ap_materno">
                    <div *ngIf="form.submitted && registro.ap_materno=='' " class="text-danger">
                        Apellido materno es requerido
                    </div>
                </div>
                <div class="input-field">
                    <i class="fas fa-file"></i>
                    <input type="number" placeholder="DNI" name="ap_materno" required [(ngModel)]="registro.documento">
                    <div *ngIf="form.submitted && registro.documento=='' " class="text-danger">
                        DNI es requerido.
                    </div>
                </div>
                <div class="input-field">
                    <i class="fas fa-tty"></i>
                    <input type="number" placeholder="Telefono" name="telefono" required [(ngModel)]="registro.telefono">
                    <div *ngIf="form.submitted && registro.correo=='' " class="text-danger">
                        Telefono es requerido.
                    </div>
                </div>
                <div class="input-field">
                    <i class="fas fa-envelope"></i>
                    <input type="email" placeholder="Correo" name="correo" required [(ngModel)]="registro.correo">
                    <div *ngIf="form.submitted && registro.correo=='' " class="text-danger">
                        Correo es requerido.
                    </div>     
                </div>
                     
                <div class="text-danger">
                    {{mensajeError}}
                </div>

                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="Contraseña" name="password" required [(ngModel)]="registro.password">
                    <div *ngIf="form.submitted && registro.password=='' " class="text-danger">
                        Contraseña es requerida.
                    </div>
                </div>
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="Confirmar contraseña" required name="confirmarPaswword" required [(ngModel)]="confirmarPaswword">
                    <div *ngIf="form.submitted && registro.password!=confirmarPaswword " class="text-danger">
                        Las contraseñas no coinciden
                    </div>
                </div>
                
                <div class="d-grid">
                    
                    <button type="submit" class="btn-1" [disabled]="!form.valid">Registrar</button>
                </div>

                
                <p class="account-text">¿Ya tienes una cuenta? <a href="" id="sign-in-btn2" #signInBtn2>Iniciar</a></p>
            </form>
        </div>
        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>Explora el mundo del azúcar con Velazco</h3>
                    <p>Únete a Velazco y sé parte de nuestra comunidad golosa.
                        Regístrate ahora para acceder a promociones exclusivas y sorpresas dulces.
                        ¡Es momento de endulzar tu vida con nosotros!</p>
                    <button class="btn" id="sign-in-btn" #signInBtn>Iniciar Sesión</button>
                    <img src="assets/layout/login1.png" alt="" class="image">
                </div>
            </div>
            <div class="panel right-panel">
                <div class="content">
                    <h3>Bienvenido a Velazco</h3>
                    <p>¡Bienvenido a Velazco, tu destino dulce!
                        Por favor, inicia sesión para disfrutar de nuestras delicias.
                        ¡Es hora de satisfacer tu antojo!</p>
                    <button class="btn" id="sign-up-btn" #signUpBtn>Registrarse</button>
                    <img src="assets/layout/login2.png" alt="" class="image">
                </div>
            </div>
        </div>
    </div>
</div>

