*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('/assets/layout/fondo-inicio.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container{
    position: relative;
    width: 70vw;
    height: 80vh;
    background-color:rgb(249, 235, 215);
    border-radius: 15px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 5);
    overflow: hidden;
}

.container::before{
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, #f6d485, #7b5600);
    z-index: 6;
    transform: translate(100%);
    transition: 1s ease-in-out;
}

.signin-signup{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 5;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    min-width: 238px;
    padding: 0 10px;
}

form.sign-in-form{
    opacity: 1;
    transition: 0.5s ease-in-out;
    transition-delay: 1s;
}

form.sign-up-form{
    opacity: 0;
    transition: 0.5s ease-in-out;
    transition-delay: 1s;
}

.title{
    font-size: 35px;
    color: brown;
    margin-bottom: 10px;
}

.input-field-login{
    width: 100%;
    height: 33px;
    background-color: none;
    margin: 10px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid;
    display: flex;
    align-items: center;

}

.input-field-login i{
    flex: 1;
    text-align: center;
    font-size: 18px;
}

.input-field-login input{
    flex: 5;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
}

.input-field-login.error {
    border-bottom-color: red;
}

.input-field{
    width: 100%;
    height: 33px;
    background-color: none;
    margin: 10px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid;
    display: flex;
    align-items: center;

}

.input-field i{
    flex: 1;
    text-align: center;
    font-size: 18px;
}

.input-field input{
    flex: 5;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
}

.btn-1 {
    cursor: pointer;
    position: relative;
    padding: 5px 10px;
    background:rgb(246, 207, 150);
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: 25px 0;
    transition: all 1s;
    color: black;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn-1:after,
.btn-1:before {
    content: " ";
    width: 10px;
    height: 10px;
    position: absolute;
    border: 0px solid #fff;
    transition: all 1s;
}

.btn-1:after {
    top: -1px;
    left: -1px;
    border-top: 3px solid black;
    border-left: 3px solid black;
}

.btn-1:before {
    bottom: -1px;
    right: -1px;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
}

.btn-1:hover {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.btn-1:hover:before,
.btn-1:hover:after {
  width: 100%;
  height: 100%;
}


.btn-1:disabled {
    background: rgb(186, 186, 186);
    cursor: not-allowed;
    border-color: black;
}

.btn-2 {
    cursor: pointer;
    position: relative;
    padding: 5px 10px;
    background:rgb(246, 207, 150);
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: 25px 0;
    transition: all 1s;
    color: black;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn-2:after,
.btn-2:before {
    content: " ";
    width: 10px;
    height: 10px;
    position: absolute;
    border: 0px solid #fff;
    transition: all 1s;
}

.btn-2:after {
    top: -1px;
    left: -1px;
    border-top: 3px solid black;
    border-left: 3px solid black;
}

.btn-2:before {
    bottom: -1px;
    right: -1px;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
}

.btn-2:hover {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.btn-2:hover:before,
.btn-2:hover:after {
  width: 100%;
  height: 100%;
}


.btn-2:disabled {
    background: rgb(186, 186, 186);
    cursor: not-allowed;
    border-color: black;
}

.sign-in-form .sin-reg{
    cursor: pointer;
    text-decoration: underline;
}
.btn{
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background-color: beige;
    color: black;
    font-weight: 600;
    margin: 10px 0;
    text-transform: uppercase;
}

.btn:hover{
    background-color:#d9d99b;
}

.social-text{
    margin: 10px 0;
    font-size: 16px;
}
.panels-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 35%;
    min-width: 238px;
    padding: 0 10px;
    text-align: center;
    z-index: 6;
}

.left-panel{
    pointer-events: none;
}

.content{
    color: #fff;
    transition: 1.1s ease-in-out;
    transition-delay: 0.5s;
}

.panel h3{
    font-size: 24px;
    font-weight: 600;
}

.panel p{
    font-size: 15px;
    padding: 10px 0;
}

.image{
    width: 80%;
    transition: 1.1s ease-in-out;
    transition-delay: 0.4s;
}

.left-panel .image, .left-panel .content{
    transform: translateX(-200%);
}

.right-panel .image, .right-panel .content{
    transform: translateX(0);
}

.account-text{
    display: none;
}

/*animaciones*/

.container.sign-up-mode::before{
    transform: translateX(0)
}

.container.sign-up-mode .right-panel .image, .container.sign-up-mode .right-panel .content{
    transform: translateX(200%);
}

.container.sign-up-mode .left-panel .image, .container.sign-up-mode .left-panel .content{
    transform: translateX(0);
}

.container.sign-up-mode form.sign-in-form{
    opacity: 0;
}

.container.sign-up-mode form.sign-up-form{
    opacity: 1;
}

.container.sign-up-mode .right-panel{
    pointer-events: none;
}

.container.sign-up-mode .left-panel{
    pointer-events: all;
}

/*responsive*/

@media (max-width:779px){
    .container{
        width: 100vw;
        height: 100vh;
    }
}

@media (max-width:635px) {
    .container::before {
        display: none;
    }
    form {
        width: 80%;
    }
    form.sign-up-form {
        display: none;
    }
    .container.sign-up-mode2 form.sign-up-form {
        display: flex;
        opacity: 1;
    }
    .container.sign-up-mode2 form.sign-in-form {
        display: none;
    }
    .panels-container {
        display: none;
    }
    .account-text {
        display: initial;
        margin-top: 30px;
    }
}
@media (max-width:320px) {
    form {
        width: 90%;
    }
}