<main>

    <div class="category-tabs">
        <section>
            <button class="tab-link active" [ngClass]="{'selected': estaSeleccionada(categoria.id)}"
                *ngFor="let categoria of categorias" (click)="seleccionarCategoria(categoria.id)">
                {{ categoria.nombre }}
            </button>
        </section>
    </div>



    <main>
        <h2 style="text-align: center;">Productos de {{ nombreCategoriaSeleccionada }}</h2>
        <section class="product-listing">
            <div class="product" id="product1" *ngFor="let producto of productos">
                <img *ngIf="imagenesUrl[producto.id]" [src]="imagenesUrl[producto.id]" alt="Product 1"
                    class="product-image">
                <h2 class="product-name">{{producto.nombre}} </h2>
                <p class="product-description">{{producto.descripcion}}</p>
                <p class="product-price">{{producto.precio | soles}}</p>
                <div class="quantity-selector">
                    <button class="quantity-btn" (click)="decrement()">-</button>
                    <input type="text" id="quantity" [value]="quantity" readonly>
                    <button class="quantity-btn" (click)="increment()">+</button>
                </div>
                <button class="custom-btn comprar" (click)="obtenerProducto(producto.id)"> Comprar</button>
            </div>
        </section>
    </main>
</main>