<div class="body">
    <main class="main-container">
        <div class="category-tabs">
            <section>
                <button class="btn btn-dark " (click)="irInicio()">
                    <i class="fa fa-arrow-left "></i> Volver a la tienda
                </button>
            </section>
        </div>

        <h2 class="carrito-titulo">Carrito de Compras</h2>
        <div class="contenedor-carrito">
            <p class="carrito-vacio" *ngIf="carritoItems?.length === 0">El carrito está vacío</p>

            <div class="carrito-productos" *ngFor="let item of carritoItems">

                <div class="carrito-producto">
                    <img *ngIf="imagenesUrl[item.producto.id]" [src]="imagenesUrl[item.producto.id]" alt=""
                        class="imagen img-fluid">
                    <div class="carrito-producto-detalles">
                        <div class="carrito-producto-info">
                            <h3 class="carrito-producto-titulo">{{item.producto.nombre}}</h3>
                            <p class="carrito-producto-cantidad"><strong>Cantidad:</strong> {{item.cantidad}}</p>
                            <p class="carrito-producto-precio"><strong>Precio:</strong> {{item.producto.precio | currency}}</p>
                            <p class="carrito-producto-subtotal"><strong>Subtotal:</strong> {{item.total | currency}}</p>
                        </div>
                        <button class="btn btn-danger" (click)="eliminarItem(item.id)">
                            <i class="fa fa-trash"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="carrito-total">
                <h3>Total: </h3>
                <button class="btn btn-warning" >Proceder a la Compra</button>
            </div>
        </div>
    </main>
</div>
