<div class="body">
  <div class="profile-container">
    <div class="profile-picture">
      <img src="assets/layout/hombre.png" alt="Profile Picture">
    </div>
    <div class="profile-header">
      <h2>Mi perfil</h2>
    </div>
    <div class="profile-content">
      <div class="profile-details">
        <div class="dato">
          <label>Nombre</label>
          <p>Jorge Armando</p>
        </div>
        <div class="dato">
          <label>Apellido Paterno</label>
          <p>Bonifaz</p>
        </div>
        <div class="dato">
          <label>Apellido Materno</label>
          <p>Campos</p>
        </div>
        <div class="dato">
          <label>Telefono</label>
          <p>934931850</p>
        </div>
        <div class="dato">
          <label>DNI</label>
          <p>918894260</p>
        </div>
        <div class="dato">
          <label>Correo</label>
          <p>JorgemasNagmail.com</p>
        </div>
      </div>
      <div class="profile-message">
        <p>Recuerda que tus datos son importantes tanto para nosotros como para ti</p>
        <img src="assets/layout/login1.png" alt="Chef" class="profile-image" />
      </div>
    </div>
    <div class="button-edit">
      <button class="edit-profile-button" (click)="abrirEditPerfil()">Editar Perfil</button>
    </div>
  </div>
</div>