* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.body {
    background-color: antiquewhite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-image: url('/assets/layout/fondo-inicio.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
}


.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    padding: 0 20px;
}   

.logo{
    cursor: pointer;
    width: 100px;
    height: auto;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    cursor: pointer;
    font-size: 18px;
    padding: 20px;
    color: white;
    display: flex;
}

.menu .navbar ul li a:hover {
    color: black;
}

.btnLogin button {
    margin-left: 20px;
    width: 150px;
    height: 45px;
    background: transparent; /* Botón transparente */
    border: 2px solid white; /* Borde blanco */
    color: white; /* Texto blanco */
    font-size: 15px;
    letter-spacing: 3px;
    font-weight: 600;
    outline: none;
    cursor: pointer;
    position: relative;
    padding: 0px;
    transition: all .5s;
}

.btnLogin button:hover {
    background: white; /* Fondo blanco al hacer hover */
    color: black; /* Texto negro al hacer hover */
    transition: all .5s; /* Suave transición */
}


.usuario-options{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.usuario-options .iconuser{
    padding: 10px;
    background-color: transparent;
    color: black;
    font-size: 30px;
    border-radius: 50px;
    border: white 1px solid;
}

.sub-menu-wrap{
    position: absolute;
    top: 80px;
    right: 5px;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
    background-color: #000;
}

.sub-menu-wrap .open-menu{
    max-height: 250px;
}

.sub-menu-wrap.cerrado{
    border: none;
}

.sub-menu{
    background: transparent;
    padding: 5px;
    margin: 0px;
}

.sub-menu hr{
    border: 0;
    height: 0px;
    width: 100%;
    background: #000;
    margin: 0px;
}

.sub-menu-link{
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    padding: 10px;
    background: transparent;
}

.sub-menu-link p{
    margin-left: 10px;
    flex: 1;
    margin: auto;
    width: 100%;
    font-size: 15px;
    text-decoration: solid;
    color: white;
}

.sub-menu-link i{
    font-size: 25px;
    width: 40px;
    color: white;
}

.sub-menu-link:hover span{
    transform: translateX(5px);
}

.sub-menu-link:hover p{
    font-weight: 600;
    color: white;
}

.sub-menu-link:hover i{
    color: white;
}

.usuario-options .iconuser:hover{
    padding: 10px;
    background-color: white;
    color: black;
    font-size: 30px;
    border-radius: 50px;
    border: black 1px solid;
}







#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-txt {
    text-align: center;
    margin-bottom: 45px;
}

.header-txt h1,
span,
h3 {
    font-size: 110px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color:lightyellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, cursive;
    margin-bottom: 30px;
}

.header-txt h1{
    margin-top: 55px;
}

.header-txt span {
    font-size: 25px;
    padding-bottom: 20px;
}

.header-txt p {
    color: white;
    padding: 0 250px;
    margin: 25px 0;
}

.header-dir {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 20px;
}

.dir h3 {
    font-size: 18px;
}

.dir p {
    font-size: 22px;
    color: whitesmoke;
    text-transform: uppercase;
}

.Bienvenido {
    display: flex;
}

.Bienvenido1 {
    
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    animation: cambioImagen 20s infinite alternate;
}

@keyframes cambioImagen{
    0%{
        background-image: url('/assets/layout/fondo-bienvenido.jpg');
    }
    50%{
        background-image: url('/assets/layout/fondo-bienvenido2.jpg');
    }
    100%{
        background-image: url('/assets/layout/fondo-bienvenido3.jpg');
    }
}

.Bienvenido2 {
    width: 50%;
    padding: 150px 250px 150px 100px;
    background-color: blanchedalmond;
}

h2 {
    font-size: 90px;
    line-height: 100px;
    color: black;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, cursive;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    color: dimgray;
    margin: 25px 0;
}

.b1 {
    color: brown;
    text-transform: uppercase;
}

.nosotros {
    padding: 100px 0;
    text-align: center;
}

.nosotros-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr {
    border: 2px solid #000;
    width: 80px;
}

.nosotros-txt p {
    padding: 50px 150px;
}

.nosotros-group {
    display: flex;
    justify-content: space-between;
    margin: 45px 0;
}

.mision {
    background-color: brown;
    padding: 35px 25px;
    margin: 0 10px;
    border-radius: 15px;
}

.mision img {
    width: 50px;
    margin-bottom: 15px;
}

.mision h3 {
    font-size: 25px;
    color: aliceblue;
}

.mision p {
    color: black;
    font-size: 20px;
}

.productos {
    padding: 100px 0;
    text-align: center;
}

.productos-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 25px;
}

.producto-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.producto-1 {
    text-align: center;
    background-color: burlywood;
    padding: 35px 25px;
    margin: 0 10px;
    border-radius: 15px;
}

.producto-1 img {
    width: 250px;
    height: 200px;
    border-radius: 15px;
    margin-bottom: 25px;
}

.producto-1 h3 {
    font-size: 22px;
}

.producto-1 p {
    padding: 0 50px;
}

.producto-1 a {
    color: brown;
    font-size: 25px;
    text-decoration: none;
    margin: auto;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 200px;
    height: 70px;
    line-height: 80px;
    text-align: center;
    transition: all .4s ease;
    z-index: 1;
}

.producto-1 a:after{
    content: '';
    display: block;
    background: brown;
    width: 100%;
    height: 5px;
    margin: 0 auto;
    transition: all .4s ease;
}

.producto-1 a:hover:after {
    transform: translate(0, -82px);
    width: 100%;
    height: 80px;
    opacity: .0;
  }

  .producto-1 a:hover {
    color: #000;
  }

.footer-bg {
    background-image: url('/assets/layout/fondo-footer.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 100px 0;
}

.footer-bg h2{
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.campo-1 {
    margin-bottom: 15px;
}

.campo {
    margin: 5px;
    padding: 20px 15px;
    width: 250px;
    background-color: black;
    border: 1px solid #CF2D3A;
    outline: none;
    border-radius: 10px;
    color: white;
    font-size: 14px;
}

textarea {
    width: 520px !important;
}

.btn-1 {
    cursor: pointer;
    position: relative;
    padding: 10px 20px;
    background: brown;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: 25px 0;
    transition: all 1s;
    color: white;
    text-transform: uppercase;
    font-size: 28px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn-1:after,
.btn-1:before {
    content: " ";
    width: 10px;
    height: 10px;
    position: absolute;
    border: 0px solid #fff;
    transition: all 1s;
}

.btn-1:after {
    top: -1px;
    left: -1px;
    border-top: 5px solid black;
    border-left: 5px solid black;
}

.btn-1:before {
    bottom: -1px;
    right: -1px;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
}

.btn-1:hover {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.btn-1:hover:before,
.btn-1:hover:after {
  width: 100%;
  height: 100%;
}

.footer-txt {
    text-align: center;
    padding: 10px;
    background-color: floralwhite;
}

@media(max-width:1300px) {
    .menu {
        padding: 20px;
        display: flex;
        justify-content: space-between; /* Distribuye los elementos entre los bordes del contenedor */
        align-items: center;
    }

    .menu label {
        display: initial;
    }

    .usuario-options {
        position: absolute; /* Posiciona el elemento de forma absoluta */
        right: 70px; /* Ajusta según sea necesario */
        top: 50%; /* Ajusta según sea necesario */
        transform: translateY(-50%); /* Centra verticalmente */
    }
    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #000;
        display: none;
    }

    .btnLogin button {
        margin: 10px 0; /* Margen para separar el botón del resto de elementos */
        width: 100%; /* Ajuste del ancho del botón */
        height: 35px; /* Ajuste de la altura del botón */
        font-size: 14px; /* Ajuste del tamaño del texto */
    }

    .menu .navbar ul{
        width: 100%;
        text-align: center;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked~.navbar {
        display: initial;
    }

    .header {
        min-height: 0vh;
    }

    .header-content {
        padding: 80px 30px 50px 30px;
    }

    .header-txt {
        margin-bottom: 15px;
    }

    .header-txt h1 {
        font-size: 65px;
    }

    .header-txt p {
        padding: 0;
        margin: 15px 0;
    }

    .header-dir {
        flex-direction: column;
    }

    .dir p {
        font-size: 18px;
    }

    .Bienvenido {
        flex-direction: column;
    }

    .Bienvenido1 {
        display: none;
    }

    .Bienvenido2 {
        width: 100%;
        padding: 30px;
        text-align: center;
    }

    h2 {
        font-size: 50px;
        line-height: 80px;
    }

    p {
        margin: 15px 0;
    }

    .nosotros {
        padding: 30px;
    }

    .nosotros-txt p {
        padding: 0;
    }

    .nosotros-group {
        flex-direction: column;
        margin: 0;
    }

    .mision {
        margin: 0 0 20px 0;
    }

    .productos {
        padding: 30px;
    }

    .producto-group {
        flex-direction: column;
        margin-bottom: 0;
    }

    .producto-1 {
        margin-bottom: 25px;
    }

    .footer-bg {
        padding: 30px;
    }

    textarea {
        width: 250px !important;
    }
}



